doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='http://unpkg.com/axios/dist/axios.min.js')
    script(src='/javascripts/removerAluno.js')
    script(src='/javascripts/carregarAluno.js')
    script(src='/javascripts/removerNota.js')
    script(src='/javascripts/voltar.js')
  body
    block content
