extends layout

block content
    .w3-container.w3-bar.w3-orange
        a.w3-item.w3-button(href="http://localhost:3019/filmes") Filmes
        a.w3-item.w3-button(href="http://localhost:3019/filmes/inserir") Inserir Filme

    .w3-card
        h1.w3-center= title
        p.w3-center Welcome!!!
