doctype html
html
  head
    title Gestor de ficheiros
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-3.4.1.min.js')
    script(src="/javascripts/form-ficheiros.js")
  body
    block content
